body {
    direction: rtl;
}

body * {
    text-align: right;
    .ant-table-thead > tr > th {
        text-align: right;
    }
}

// Antd date picker doesn't handle rtl well
.ant-calendar-panel * {
    direction: ltr;
    text-align: left;
    .ant-calendar-header > div {
        text-align: center;
    }
}
