body {
  direction: rtl;
}

body * {
  text-align: right;
  .ant-table-thead > tr > th {
    text-align: right;
  }
}

// Antd components that don't play well with rtl are patched here
.ant-calendar-panel * {
  direction: ltr;
  text-align: left;
  .ant-calendar-header > div {
    text-align: center;
  }
}

.ant-pagination.ant-table-pagination {
  direction: ltr;
  float: none;
  text-align: center;
}

.ant-message-custom-content .anticon {
  margin-right: 0px;
  margin-left: 8px;
}

.ant-select-dropdown-menu {
  padding-right: 0px;
}

.ant-tag .anticon-close {
  margin: 0 3px 0 0;
}
